/DitnoAssetmentAwsLambda/.vs
/DitnoAssetmentAwsLambda/DitnoAssetmentAwsLambda/bin
/DitnoAssetmentAwsLambda/DitnoAssetmentAwsLambda/obj
/DitnoAssetmentAwsLambda/DitnoAssetmentAwsLambda.Tests/bin
/DitnoAssetmentAwsLambda/DitnoAssetmentAwsLambda.Tests/obj
